<<<<<<< HEAD
body {
	margin: 0;
	padding: 0;
	background-color: #272727;
}

h1 {
	color: #fff;
	font-family: Arial;
}

p {
=======
BODY {
	background: #272727 url() 0 0 no-repeat;
>>>>>>> developer
	color: #fff;
}